#selectFileContainer{
  cursor: pointer;
  margin: 1rem auto 1rem auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 20vh;
  border: 1px solid black;
  border-radius: .7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  opacity: .2;
  
}

#filePreviewer{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.trash {
  cursor: pointer;
  height: 6%;
  width: 6%;
  margin: .2rem
}

.camera {
  height: 40%;
  width: 40%;
  border-radius: .5rem;
  margin: .4rem
}

.image-thumbnails, .file-thumbnails, .audio-lists {
  flex-grow: 1;
  color: black;
  height: 40vh;
  width: 30vw;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.image-types, .object-types, .video-types, .audio-types {
  width: 100%;
  height: 100%;
}

@media (min-width: 767px) and (max-width: 2560px){
  .selectFileContainer{
    width: 15%;
  }
}